.product{
    max-width: 176px;
}
.product ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    color: var(--text-primary);
    font-size: 0.9rem;
    font-weight: 700;
}

.product ul li:first-child{
    font-weight: 500;
}

.product ul li:nth-child(0n+2){
    font-size:  1rem;
}

.product ul li a{
    color: var(--text-secundary);
    text-decoration: none;
}
